
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
	/* Sunny Theme */
	--background-color: #fffae5; /* Soft, pale yellow */
	--primary-color: #005b99; /* Dark blue */
	--secondary-color: #ffd700; /* Golden yellow */
	--tertiary-color: #ff8c00; /* Bright orange */
	--text-color: #333; /* Neutral dark text */
	--secondary-rgb: 255, 215, 0;
}

/* Rainy Theme */
:root.rainy {
	--background-color: #e3e4e6;
	--primary-color: #5d737e;
	--secondary-color: #a3c4bc;
	--tertiary-color: #4b6587;
	--text-color: #333;

	--secondary-rgb: 163, 196, 188;
}

/* Snowy Theme */
:root.snowy {
	--background-color: #f7fbfc;
	--primary-color: #d0e8f2;
	--secondary-color: #b5c9d5;
	--tertiary-color: #1b3b5f;
	--text-color: #333;

	--secondary-rgb: 181, 201, 213;
}

/* Cloudy Theme */
:root.cloudy {
	--background-color: #dfe4ea;
	--primary-color: #a4b0be;
	--secondary-color: #ced6e0;
	--tertiary-color: #576574;
	--text-color: #333;

	--secondary-rgb: 206, 214, 224;
}

/* Stormy Theme */
:root.stormy {
	--background-color: #2f3542;
	--primary-color: #3742fa;
	--secondary-color: #576574;
	--tertiary-color: #747d8c;
	--text-color: #fff;

	--secondary-rgb: 87, 101, 116;
}

:root.stormy .card{

	--text-color: #333;
}

/* Sunset Theme */
:root.sunset {
	--background-color: #fad6a5;
	--primary-color: #ff6b6b;
	--secondary-color: #ffa502;
	--tertiary-color: #5352ed;
	--text-color: #333;

	--secondary-rgb: 250, 165, 2;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: "Roboto Flex", sans-serif;
	margin: 0;
	padding: 0;
	height: 99vh;
}

h5 {
	font-size: 1rem;
}

.wrapper {
	min-height: calc(99vh - 3rem);
}

/* Primary Elements */
.header {
	background-color: var(--primary-color);
	color: var(--text-color);
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.data {
	display: flex;
	justify-content: space-between; /* Ensures proper spacing */
	margin: 0 auto;
}

/* Tertiary Elements */
.footer,
.accent {
	background-color: var(--tertiary-color);
	color: #fff;
	padding: 10px;
	border-radius: 5px;
}

/* Layout */

.header {
	text-align: center;
	padding: 20px;
}

.card {
	margin: 1.2rem 0;
	padding: .8rem;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card .temp {
	font-size: .8rem;
}

.card .tempHi {
	text-align: right;
}
.card .tempLo {
	text-align: left;
}

.footer {
	text-align: center;
	padding: 20px;
	margin-top: 20px;
	border-radius: 0;
}

.hero {
	border-top: 1px solid var(--secondary-color);
	border-bottom: 1px solid var(--secondary-color);
	background: rgba(var(--secondary-rgb), 0.5);
}

@media (min-width: 768px) {
	/* Secondary Elements */
	.card-container {
		padding-right: .8rem;
	}

	.card-container:last-child {
		padding-right: 0;
	}

	.card .tempHi {
		text-align: center;
	}
	.card .tempLo {
		text-align: center;
	}
}